<?xml version="1.0" encoding="UTF-8" ?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android"
        id="cordova-plugin-google-play-services-version" version="1.0.0">

    <name>Google Play Services Version</name>
    <description>This plugin provides the currently installed version of Google Play Services.</description>
    <keywords>cordova,google play services,play store,version,version-control,version-manager,version-checker,update,update-checker</keywords>
    <repo>https://github.com/kolbasa/cordova-plugin-google-play-services-version</repo>
    <issue>https://github.com/kolbasa/cordova-plugin-google-play-services-version/issues</issue>
    <author>Michael Jedich</author>
    <license>MIT</license>

    <engines>
        <engine name="cordova" version=">=3.0.0"/>
    </engines>

    <js-module src="www/plugins.PlayServices.js" name="PlayServices">
        <clobbers target="cordova.plugins.playservices"/>
    </js-module>

    <!-- Android -->
    <platform name="android">

        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="PlayServices">
                <param name="android-package" value="de.kolbasa.playservices.PlayServices"/>
            </feature>
        </config-file>

        <source-file src="src/android/PlayServices.java" target-dir="src/de/kolbasa/playservices"/>

    </platform>

</plugin>
